.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20%; 
    bottom: 1rem;
    
}

.cabecalho__logo {
    margin-left: 2rem;
}

@media screen and (min-width: 0) {
    .cabecalho{
        padding: 3px; 
    }
    .cabecalho__logo{
        padding-top: 6px;
        width: 100px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
    }
    .cabecalho__logo{
        width: 150px;
    }
}


